<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Sortable - Connect lists</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <style>
  #sortable1, #sortable2 {
    border: 1px solid #eee;
    width: 142px;
    min-height: 20px;
    list-style-type: none;
    margin: 0;
    padding: 5px 0 0 0;
    float: left;
    margin-right: 10px;
  }
  #sortable1 li, #sortable2 li {
    margin: 0 5px 5px 5px;
    padding: 5px;
    font-size: 1.2em;
    width: 120px;
  }
  </style>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#sortable1, #sortable2" ).sortable({
      connectWith: ".connectedSortable"
    }).disableSelection();
  } );
  </script>
</head>
<body>



<div class="container">
    <form method ="post">
    {% csrf_token %}
        <input class="form-control form-control-lg" type="text" name = "input_box" placeholder="Give Input For Tag"></input>
        <input class="btn btn-primary" placeholder="bas" type="submit" name="tag_butonu" value="description">
    </form>
</div>

<br></br>
<br></br>

<h1> {{deneme}} </h1>

</div>

{% for item in tag %}
<ul id="sortable1" class="connectedSortable">
  <li class="ui-state-default">{{item}}</li>
</ul>
{% endfor %}


<ul id="sortable2" class="connectedSortable">
<li class="ui-state-default">Items Here 1 </li>
<li class="ui-state-default">Items Here 2</li>
<li class="ui-state-default">Items Here 3 </li>
</ul>
 
 
</body>
</html>