<!DOCTYPE html>
<html lang="en">
{% comment %} Index Page For Post Types Based On Selected Community {% endcomment %}
{% load static %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>CommunityCenter - Post Types</title>
  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="{% static 'css/blog-home.css' %}" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
</head>
{% block body %}

<body>
  <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="{% url 'community:homepage'%}">CommunityCenter</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-left">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'community:homepage'%}">Home</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'community:posttype_create' community.id%}">Add Post Type</a>
            </li>
              <li class="nav-item">
              <a class="nav-link" href="">Advanced Search</a>
            </li>
            </ul>
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
              <a class="nav-link" href="#">UserName : {{user.username}}</a>
              </li>
              <li class="nav-item">
              <a class="nav-link" href=" {% url "community:register" %} ">Register</a>
          </li>
              <li class="nav-item">
              <a class="nav-link" href="{% url "community:login" %}">Login</a>
              </li>
              <li class="nav-item">
              <a class="nav-link" href="{% url "community:logout" %}">Logout</a>
          </li>
          </ul>
        </div>
      </div>
    </nav>
  </body>

  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <!-- Blog Entries Column -->
      <div class="col-md-8">
        {% comment %} <h1 class="my-4"><small>Communities</small></h1> {% endcomment %}
        <br></br>
        <!-- Blog Post -->
        {% for post_type in all_post_types %}
          <div class="card mb-4">
            <div class="card-body">
              <h2 class="card-title">{{ post_type.post_title}}</h2>
              <p class="card-text">Post Type Description : {{ post_type.post_description}}</p>
              <p class="card-text2">Post Type Tag : {{ post_type.post_tag }}</p>
              <a href="{% url "community:posttype_postobject_detail" post_type.id %}" class="btn btn-primary"> Go To Posts &rarr;</a>
            </div>
            <div class="card-footer text-muted">
               Created By : {{post_type.post_owner}} &nbsp;&nbsp;&nbsp;&nbsp;Created On : {{post_type.post_creation_date}}
            </div>
          </div>
        {% endfor %}

        <!-- Pagination -->
        <ul class="pagination justify-content-center mb-4">
          <li class="page-item">
            <a class="page-link" href="#">&larr; Older</a>
          </li>
          <li class="page-item disabled">
            <a class="page-link" href="#">Newer &rarr;</a>
          </li>
        </ul>
      </div>
      
      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">
       <br></br>
           <!-- Search Widget -->
        <div class="card my-4">
          <h5 class="card-header">Search</h5>
          <div class="card-body">
             <form method="get" action="">
              <input class="form-control form-control-lg" type="text" name="q" id="q" placeholder="Search For Post Type.." value="{{ request.GET.q }}" >
              <p></p>
              <input type="submit" class="btn btn-primary"></button>
             </form> 
            </div>
        </div>

        <!-- Side Widget -->
        <div class="card my-4">
          <h5 class="card-header">You Are In</h5>
          <div class="card-body">
          <small>Community Name :</small> <strong><i>{{community.community_name}}</i></strong> <br></br>
          <small>Community Description :</small><strong><i>{{community.community_description}}</i></strong><br></br> 
          <small>Community Tag :</small> <strong><i>{{community.community_tag}}</i></strong> 
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Community Center 2019</p>
    </div>
  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
{% endblock %}

</html>
