<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Build Community{% endblock %}</title>
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{%  static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'music/style.css' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    {% comment %} <script src="{% static 'music/js/main.js' %}"></script> {% endcomment %}
</head>

<body>
  <nav class="navbar navbar-inverse">
      <div class="container-fluid">
          <!-- Header -->
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{% url 'community:homepage' %}">CommunityCenter</a>
          </div>

          <!-- Items --> 
          <div class="collapse navbar-collapse" id="topNavBar">
              <ul class="nav navbar-nav navbar-left">
                 <li class="Communities"><a href="{% url 'community:homepage' %}"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span>&nbsp; Communities</a>             
                  </li>
                  <li class="Post_types"><a href=""><span class="glyphicon glyphicon-fire" aria-hidden="true"></span>&nbsp; Post Types</a>             
                  </li>
                  <li class="Posts"><a href=""><span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>&nbsp; Posts</a>             
                  </li>
              </ul>
             
              <ul class="nav navbar-nav navbar-right">  
              <li class="Register"><a href="{% url 'community:register' %}"><span class="glyphicon glyphicon-saved" aria-hidden="true"></span>&nbsp; Register</a>
                  </li>   
                  <li class="Login"><a href="{% url 'community:login' %}"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp; Login</a>
                  </li> 
                  <li class="Logout"><a href="{% url "community:logout" %}" ><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp; Logout</a>
                  </li>  
              </ul>
          </div>
      </div>
  </nav>
  
{% block body %}
{% endblock %}

</body>
</html>