body {
    background-color: white;
  }

  .navbar{
    border-radius: 0;
  }

  .navbar-brand{
    font-family: "Arial Black", Gadget, sans-serif;
  }
  
  .navbar-default {
    background-color: #F8F8F8;
    border-color: #E7E7E7;
}